@model IEnumerable<SunridgeHOA.Models.ApplicationUser>
@{
    ViewData["Title"] = "Owners";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Owner List</h2>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Owner.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Owner.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Owner.Lot.LotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Owner.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Owner.Image)
            </th>
            <th></th>
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Owner.FirstName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Owner.LastName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Owner.Lot.LotNumber)
            </td>
            <td>
                @Html.DisplayFor(m => item.Owner.Phone)
            </td>
            <td>
                @Html.DisplayFor(m => item.Owner.Image)
            </td>
            <td>
                <partial name="_TableButtonPartialString" model="item.Id" />
            </td>
        </tr>

        }
    </table>
</div>