@model IEnumerable<SunridgeHOA.Models.ViewModels.BoardMemberIndexVM>

@{
    ViewData["Title"] = "Board Members";
}

<!-- inro section Grid -->
<section class="p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 mt-4 text-center">Board Members</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container">
        <div class="row">
            @foreach (var member in Model)
            {
                <div class="mb-5 col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="@member.BoardMember.Owner.Image" alt="Boardmember profile picture">
                        <h5>@member.BoardMember.Position @member.FullName()</h5>
                        <p class="font-weight-light mb-0">@member.BoardMember.Owner.Lot</p>
                        <p class="font-weight-light mb-0">@member.BoardMember.Owner.Phone</p>
                        <p class="font-weight-light mb-0">Email: <a href="mailto:"@member.User.Email>@member.FullName()</a></p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>