@model IEnumerable<SunridgeHOA.Models.ClassifiedListing>
@{
    ViewData["Title"] = "Lots";
}

@if (User.IsInRole(SunridgeHOA.Utilities.StaticDetails.AdminEndUser))
{
    <a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="AddLot">
        <i class="fas fa-plus-circle"></i>
        Add Lot
    </a>
}
<!-- inro section Grid -->
<section class="p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 text-center">Lots currently for sale at Sunridge</h1>
        </div>
    </div>
</section>

@*<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ListingDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.IsArchive)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.LastModifiedDate)
            </th>
            <th></th>
            <th></th>

        </tr>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @String.Format("{0:c}", item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ListingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.IsArchive)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.LastModifiedDate)
                    </td>
                    <td>
                        <partial name="_TableButtonPartialLot" model="item.ID" />
                    </td>
                </tr>
            }
        }

    </table>
</div>*@

<div class="row">
    @foreach (var lot in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px;color:steelblue;">@lot.Name</label>
                        @if (User.IsInRole(SunridgeHOA.Utilities.StaticDetails.AdminEndUser))
                        {
                            <span style="float: right"> <partial name="_TableButtonPartialLot" model="lot.ID" /> </span>
                        }
                    </h4>
                </div>

                <img class="card-img-top" style="height:100%;" src="@lot.Image" alt="Card Image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313"><b>$@lot.Price</b></label>
                        </div>
                        <a asp-area="Admin" asp-controller="Account" asp-action="LotDetails" btn btn-info" asp-route-id="@lot.ID"> View Details</a>
                    </div>
                </div>

            </div>
        </div>

    }
</div>

<!-- Testimonials -->
<section class="testimonials text-center">

    <div class="container mb-5">
        <div class="container container-fluid bg-light p-5">
            <div class="row">
                <div class="col-sm-6">
                    <img class="main-icons mt-5" src="~/img/land-icon-01.svg" alt="property-img02">
                </div>
                <div class="col-sm-6">
                    <h1>Your Lot Here</h1>
                    <p>Have a lot to sell?</p>
                    <h4>Contact us to have it listed in the Sunridge Classifieds</h4>
                    <button class=" mt-4 btn-primary"><a class="text-white" href="mailto:Webmaster@sunridge.info">Email Us</a></button>
                </div>
            </div>
        </div>
    </div>
</section>