@model IEnumerable<SunridgeHOA.Models.Map>
@{
    ViewData["Title"] = "Maps";
}
@if (User.IsInRole(SunridgeHOA.Utilities.StaticDetails.AdminEndUser))
{
    <a class="nav-link" asp-area="Admin" asp-controller="Maps" asp-action="AddMap">
        <i class="fas fa-plus-circle"></i>
        Add Map
    </a>
}
<!-- inro section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4 text-center">Maps</h1>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center">
    <div class="container">
        @*<img class="mb-5" src="~/img/map.png" alt="maps">*@
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                        <img class="mb-5" src="@item.FileURL" alt="maps" />
                    @*<td>
                        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+Model)"><i class="fas fa-trash-alt"></i></a>
                    </td>*@       
                
            }
        }
        @*<td style="width:150px">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-primary" asp-area="Admin" asp-controller="Account" href="@Url.Action("EditLot"+Model)">
                    <i class="fas fa-edit"></i>
                </a>
                <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Account" href="@Url.Action("LotDetails"+Model)">
                    <i class="fas fa-list-alt"></i>
                </a>
                <a type="button" class="btn btn-danger" asp-area="Admin" asp-controller="Account" href="@Url.Action("DeleteLot"+Model)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </td>*@

    </div>
    <button class="btn-primary m-4"><a class="text-white" href="http://sunridge.info/docs/SunridgeMapMay2008.pdf" target="_blank">Printable Map</a></button>
    <button class="btn-primary m-4"><a class="text-white" href="http://sunridge.info/docs/SUNRIDGE-LOTS-MAP.pdf" target="_blank">Printable Lot Map</a></button>
    <button class="btn-primary m-4"><a class="text-white" href="http://sunridge.info/docs/SunridgeHuntingMapAug2015.pdf" target="_blank">Hunting Map</a></button>
</section>

